@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --orange-gradient: linear-gradient(90deg, #ff7a00 0%, #ffb347 100%);
  --orange: #ff7a00;
  --orange-light: #ffb347;
  --white: #ffffff;
  --dark: #333333;
}
